body {
    margin: 0;
    padding-top: 40px;
    max-width: 100%;
    background-color:#1eb98a; 
    height: 100%;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    letter-spacing: -.25px;
}
  
.container {
    margin: 0 auto;
    width: 750px;
    background: #FFF;
    border-radius: 5px;
}
  
.img-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.chat {
    width: 740px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #F2F5F8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#chat-message {
    /* height: 200px; */
    height: 40%;
    border: none;
    margin-bottom: 10px;
    margin-top: 10px;
    overflow-y: scroll;
    padding: 10px;
    padding-left: 20px;
}

.message {
  background-color:#1eb98a; 
  margin: 10px;
  padding: 10px;
  width: 80%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: sans-serif;
  color: #fff;
  font-size: 17px;
}

.bot {
   background:  #62ec66;
}

.marginLeft {
    margin-left: 15%;
}

.chat .message-input {
    padding: 30px;
    height: 150px;
}

textarea#message {
    border: 2px solid #62ec66;
    border-radius: 5px;
}

.chat .message-input textarea {
    width: 100%;
    padding: 10px 20px;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #767676;
}

.chat .message-input button {
    float: right;
    color: #767676;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    background: #62ec66;
    margin-top: 15px;
    height: 35px;
    width: 110px;
}

.chat .message-input button:hover {
    background-color: #75b1e8;
    color: #F2F5F8;
}    


/* MEDIA QUERY  */
/* Landscape and under */
@media only screen and (max-width: 480px) {
    
    body {
        width: 100%;
        padding-top: 0px;
        background: #F2F5F8;
    }

    .container {
        width: 100%;
        background: #F2F5F8;
    }

    #chat-message {
        height: 60%;
    }
    
    .message {
        width: 50%;
        font-size: 15px;
    }

    .chat .message-input textarea {
        font-size: 12px;
    }
    .chat .message-input button {
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
        font-size: 12px;
     }
}
/*Landscape to tablet in portrait*/
@media only screen and (max-width: 770px) {

    .container {
       width: 80%;
       height: 80%;
    }

    .chat{
     max-width: 100%;
    }

    .img-logo{
        width: 100%;
    }

    #chat-message {
        height: 60%;
    }

    .message{
        width: 80%;
    }

    .marginLeft {
        margin-left: 8%;
    }

    .chat .message-input textarea {
        width: 100%;
        padding: 8px 15px;
        font-size: 15px;
        margin-bottom: 5px;
    }

    .chat .message-input button {
        font-size: 15px;
        margin-top: 15px;
        height: 32px;
        width: 80px;
    }
}

